#deal-wrap, #play-wrap {
  min-height: 120px;
}
#deal-data, #play-data {
  padding: 10px;
  color: #333;
}
#deal-stand, #play-stand {
  display: none;
  padding: 5px;
  background: #AB2323;
  color: #FFF;
}
#deal-stand.stood, #play-stand.stood { display: inline-block; }

/* Cards*/
#deal-cards, #play-cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  padding: 10px;
}
.bj-card {
  box-sizing: border-box;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  width: 100%;
  background: #FFF;
  border: 1px solid #EAEAEA;
}

/* Dealer's Cards */
#deal-wrap { background: #E4F0FF; }
#deal-data { background: #D2E6FF; }
#deal-first .front { display: none; }
#deal-first.show .back { display: none; }
#deal-first.show .front { display: block; }

/* Player's Cards */
#play-wrap { background: #FFE7E7; }
#play-data { background: #F1CACA; }

/* Play Controls */
#play-control {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  padding: 10px;
  background: #EEE;
}
#play-control input {
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  padding: 10px 0;
  background: #4381DE;
  color: #FFF;
  width: 100%;
}
#playc-hit, #playc-stand { display: none; }
#play-control.started { grid-template-columns: 50% 50%; }
#play-control.started #playc-start { display: none; }
#play-control.started #playc-hit, #play-control.started #playc-stand { display: block; }
